

    <h1>W e l c o m e &nbsp to <br> R a n d t i v i t i e s!</h1>

    <h5> Have a little free time and can't decide what to do because too many options come to your head at the same time? </h5>
    
    <p class="pb-5"> Use Randtivities app to choose categories of all the things would like to do in your free time, related to art, electronics, sports, relaxation. or whichever you want. Then, select the specific activities you like and you're good to go! With just a single button, Randtivities App will make a decision for you to enjoy. As simple as that. Have fun! </p>

    

<% unless user_signed_in? %>
    <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-info' %> 
    <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-info' %> 
<% end %>
<br><br>


