<h1>Welcome to Your Random App!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis rem hic maiores magni iure dolores quod nesciunt deleniti corrupti est repellendus quo qui aspernatur non soluta, ducimus necessitatibus accusamus sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti assumenda dicta fugiat porro optio modi, maxime sint blanditiis repellendus atque nostrum voluptatibus tempora minima quaerat vel accusamus voluptate voluptatem iusto.</p>



<%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-outline-info' %> <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-outline-info' %>

