body {
    background: url('https://i.imgur.com/AaQ2Utv.jpg') no-repeat center fixed;
    background-size: cover;
    
    font-family: Tangerine;
}


body h1 {
    font-family: Tangerine;
    font-weight: normal;
    font-size: 6.5vw;
    color: antiquewhite;
}

body p {
    font-family: 'Bellota Text', cursive;
    
    font-size: 2.2vw;
}

.nav-item{
  
}

.card-img-top {
    height: 20vw;
    object-fit: cover;
}

.card-title {
    color: white;
    font-size: 20px;
    font-family: Tangerine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition:0.5s;
    background-color: rgb(14, 59, 77);
  }

  .card:hover .overlay {
    opacity: 0.6;
  }