body {
    background-image: url(/assets/bg03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Tangerine;
}

/* .bg {
    background-image: url(/assets/bg04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */



body h1 {
    font-family: Tangerine;
    font-size: 4vw;
    font-weight: bold;
}

body p {
    font-family: 'Trebuchet MS';
    font-size: 2vw;
}





.card-img-top {
    height: 20vw;
    object-fit: cover;
}

.card-title {
    color: white;
    font-size: 20px;
    font-family: Tangerine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition:0.6s;
    background-color: rgb(14, 59, 77);
  }

  .card:hover .overlay {
    opacity: 0.6;
  }