body {
    background-image: url(/assets/12.jpg);
    font-family: Tangerine;
}


body h1 {
    font-family: Tangerine;
    font-size: 4vw;
    font-weight: bold;
}

body p {
    font-family: 'Trebuchet MS';
    font-size: 2vw;
}



.category-name{
    font-family: Tangerine;
    
    
}

.card-img-top {
    width: 10%;
    height: 15vw;
    object-fit: cover;
}

.card-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition:0.6s;
    background-color: rgb(14, 59, 77);
  }

  .card:hover .overlay {
    opacity: 0.6;
  }