<p id="notice"><%= notice %></p>



<div class="row">

  <div class="col-12">

    <h1 class="display-3 text-center mt-3 mb-5"> C h o o s e &nbsp y o u r &nbsp c a t e g o r i e s </h1> <br><br>


    <%#  CATEGORIES CARDS %>

    <% @categories.each_slice(3) do |categories| %>
        
      <div class="card-deck">
        <% categories.each do |category| %>

          <div class="card mb-3">
            
            <% if category.image.attached?  %>
            <div>
              <%= image_tag category.image, class: "card-img-top" %>
            </div>
            <% end %>
            
            <div class="card-body overlay">
              <h5 class="card-title display-4 text-center"> <%= category.name %> </h5>
              <p class="card-text display-4 text-center"> </p>
              
              link_to activities
                
                
            </div>
          
          </div>

        <% end %>
      </div>

     <% end %>

  </div>

</div>
  
<br>
<%= link_to 'Create New Category', new_category_path %>
<br>
<br>



